.nav{
  background-color: #4A3933;
  color: #fff;
  padding: 10px;
  font-size: 16px;
  text-transform: capitalize;
  height: 60px;
  display: flex;
  gap: 20px;
  border: 2px solid #000;
  align-items: center;
}
.nav-link{
  color: #fff;
  text-decoration: 0;
}
.hero {
  position: relative;
  top: 20px;
  display: flex;
  justify-content: center;
  background-color: #3C2A21;
  height: 300px;
  width: 300px;
  align-items: center;
  margin: auto;
  border-radius: 8px;
}

/* End of hero */

/* Start of banner component */
.banner h1 {
  padding-left: 55px;
  color: #F49D1A;
}

.banner h2 {
  color: #FDEEDC;
  font-size: 16px;
  padding-left: 55px;
}

/* End of banner component */

.btn-btn-home {
  background-color: #F49D1A;
  color: #FDEEDC;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 18px;
  margin: 10px;
  text-decoration: none;
  display: flex;
  justify-content: center;
}